.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.card-photo {
  /* display: flex; */
  flex-wrap: flex;
  justify-content: space-between;
  height: 250px;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: .75;
}

.card-photo:hover {
  opacity: 1;
}

h3 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px
}