body {
  background-color: #2f112d;
}

h1, h2 {
  color: #FFD700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px;
  text-align: center;
}

h1{
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}
