.individual-restaurant{
    background-color: goldenrod;
    height: 440px;
    margin-right: 7px;
    text-transform: capitalize;
    width: 500px;
    border-radius: 25px;
    box-shadow: 2px 5px purple;
    margin-bottom: 120px;
}

.individual-restaurant img {
    background-size: cover;
    margin-bottom: 10px;
    height: 191px;
    width: 300px;
    /* border:1px black solid; */
    border-radius: 25px;
    background-color: purple;
}

.themes {
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #720b98;
}

/* .img-and-name .rest-img {
    height: 150px;
    width: 200px;
} */

.restaurant-info {
    margin-left: 15px;
    font-family: monospace;
}


.rest-name {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: cursive;
    font-size: 16px;
    font-weight: bolder;
    padding:1px;
    text-decoration: overline;
}

.rest-tags{
    font-size: 12px;
    text-align: center;
    /* border-style: double; */
    padding:1px;
    border-color: darkred;
    border-radius: 45px;
    font-weight: bold;
    color: darkslateblue;
}