/* we have to add the card in the return in the Card Container in order to target it with CSS in this file. otherwise, we will have to style the cards within CardSection.css */

.pop-up {
  margin: auto;
  width: 75%;
  background-color: #a781f5;
  border-radius: 25px;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 100px;
  overflow: scroll;
  z-index: 1;
  border: solid black 4px;
  opacity: .96;
}

.parade-section{
  text-align: center;
  background-color: darkseagreen;
  border-radius: 25px;
  padding-bottom:15px;
  margin-top: 38px;
}

.pop-up button {
  background-color: #720b98;
  border: 0.5px solid gold;
  color: gold;
  font-weight: bolder;
  font-size: 23px;
  border-radius: 15px;
  height: 33px;
  width: 33px;
  position: -webkit-sticky;
  position: sticky;
  float: right;
  left: 677px;
  top: 31px;
  right: 35px;
  &:hover {
    background-color: #6c0a90fc;
  }
}

.restaurant-container {
  display: flex;
  width: 90%;
  overflow-x: auto;
  margin:auto;
  padding:10px;
}

.parade-image {
  height: 300px;
  width: 350px;
  margin-left: 100px;
  border-radius: 5px;

}

.pop-up-inner {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 2%;
  bottom: 2%;
  margin: auto;
}

.card-name {
  font-size: 35px;
  margin-top: -35px;
  margin-bottom: 35px;
}

.pop-up-container {
  display: flex;
}

.loc-date-float {
  text-align: center;
  width: 70%;
}

.parade-location {
  font-size: 58px;
}

.parade-date {
  font-size: 25px;
}

.num-floats {
  font-size: 20px;
}

.located-in {
  font-family: monospace;
  font-size: 30px;
  display: block;
}