.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  padding-bottom: 180px;
}

.card-photo {
  position: relative;
  flex-wrap: flex;
  justify-content: space-between;
  height: 250px;
  width: 300px;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 1;
  border-radius: 25px;
  margin-top: 25px;
}

.card-photo:hover {
  opacity: .6;
}

h3 {
  font-family: cursive;
  // position: absolute;
  font-size: 27px;
  font-weight: 800;
  color:white;
  // text-align: center;
  // margin-top: 130px;
  // margin-left: 65px;
}

.individual-card {
  display: grid;
  width: 300px;
  text-align: center;
  margin-bottom:20px;
}

.parade-location {
  font-size: 31px;
  font-family: cursive;
  margin: 0;
}

