.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  min-height: 500px;
  padding-bottom: 180px;
}

.card-photo {
  border-radius: 25px;
  flex-wrap: flex;
  height: 250px;
  justify-content: space-between;
  margin: 25px 8px 0px 8px;
  opacity: 1;
  position: relative;
  width: 300px;
}

.card-photo:hover {
  opacity: .6;
}

.container {
  display: flex;
  justify-content: center;
}

h3 {
  color:white;
  font-family: $fancy;
  font-size: 27px;
  font-weight: 800;
}

.individual-card {
  display: grid;
  margin-bottom:20px;
  text-align: center;
  width: 300px;
}

.parade-location {
  font-size: 31px;
  margin: 0;
}

.no-results {
  margin-top: 30px;
  text-align: center;
}

.screen {
  background-image: url('https://wallpapercave.com/wp/rby2aDk.jpg');
  bottom: 0;
  background-size: cover;
  left: 0;
  opacity: 3.5;
  position: absolute;
  right: 0;
  top: 0;
}
