.filters-section {
  margin-bottom: 10px;
  margin-top: 10px;
}

.filter {
  height: 40px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 15px;
}

.filters{
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 0px;
}

.filter-button{
  height: 38px;
  width: 95px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: $purple;
  color:$gold;
  font-family: monospace;
  font-size: 20px;
}

.filter-button:hover {
  background-color: $green;
  color: $gold;
}