.filters-section {
  margin-bottom: 10px;
  margin-top: 10px;
}

.filter {
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
  width: 200px;
}

.filters{
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 0px;
}

.filter-button{
  background-color: $purple;
  border-color: $green;
  border-radius: 25px;
  color: $gold;
  font-family: $desc;
  font-size: 20px;
  height: 38px;
  margin-left: 10px;
  margin-right: 10px;
  width: 95px;
  &:hover {
    background-color: $green;
    color: $purple;
  }
}