.individual-restaurant{
    background-color: darkseagreen;
    border-radius: 25px;
    height: 440px;
    margin-bottom: 35px;
    margin-right: 12px;
    text-transform: capitalize;
    width: 500px;
}

.individual-restaurant img {
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
    height: 191px;
    margin-bottom: 10px;
    width: 300px;
}

.restaurant-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: $desc;
    margin-left: 15px;
}


.rest-name {
    font-family: $fancy;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 2px;
    padding:1px;
    text-align: center;
    text-decoration: overline;
}

.rest-tags {
    color: darkslateblue;
    font-family: $desc;
    font-size: 14px;
    margin-bottom: 24px;
    padding:1px;
    text-align: center;
    text-transform: lowercase;
}

.bold {
    font-weight: bold;
}

.rest-lines {
  margin-bottom: 6px;
}

.rest-link {
    margin-top: 10px;
}